body{
    height: 100vh;
    background-color: grey;
}
@media screen and (max-width: 800px){
    body{
        background-color: aqua;
    }
}

@media screen and (max-width: 600px){
    body{
        background-color: violet;
    }
}